day01
day02
day03
day04
day05
day06
day07
day08
day09
day10
day11
day12
day13
day14
day15
day16
day17
day18
day19
day20
day21
day22
day23
day24
day25
aoc2022
tests/test01
tests/test02
tests/test03
tests/test04
tests/test05
tests/test06
tests/test07
tests/test08
tests/test09
tests/test10
tests/test11
tests/test12
tests/test13
tests/test14
tests/test15
tests/test16
tests/test17
tests/test18
tests/test19
tests/test20
tests/test21
tests/test22
tests/test23
tests/test24
tests/test25